<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Create User</title>
</head>
<body>
<form th:method="POST" th:action="@{createUser(roles = ${user.getRoles()})}" th:object="${user}">
    <label for="name"> Name: </label>
    <input type="text" required th:field="*{username}" id="name">
    <label for="age"> Age: </label>
    <input type="number" min="1" max="130" required th:field="*{age}" id="age">
    <label for="password"> Password: </label>
    <input type="text" required th:field="*{password}" id="password">

    <p>
        <label>
            <input type="checkbox" name="roles"
                   th:each="role : ${allRoles}"
                   th:text="${role.name.replaceAll('ROLE_','')}"
                   th:value="${role.id}"
                   th:field="*{roles}"
            />
        </label>
    </p>
    <input type="submit" value="Add"/>
</form>

</body>
</html>