<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<p th:text="'ID:' + ${user.getId()}"></p>
<p th:text="'Name:' + ${user.getUsername()}"></p>
<p th:text="'Age:' + ${user.getAge()}"></p>
<p th:text="'Role:' + ${user.getRoles()}"></p>
<br>
<a th:href="@{edit(id=${user.getId()})}">Update</a>
<br>
<br>
<form th:method="POST" th:action="@{/delete(id=${user.getId()})}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>